<!DOCTYPE html>

<html>
  
  <head>
    
  </head>
  <body>
    <input type='text' name='title' id='title'>
    <input type='text' name='content' id='content'>
    <input type='submit' name='submit' id='submit' value='Submit'>
  </body>
  
</html>