<!DOCTYPE html>

<html>
  
  <head>
    
  </head>
  <body>
    <input type='text' name='title' id='title' value=<%=@article.title%>>
    <input type='text' name='content' id='content' value=<%=@article.content%>>
    <input type='submit' name='submit' id='submit' value='Submit'>
  </body>
  
</html>