<!DOCTYPE html>

<html>
  
  <head>
    
  </head>
  <body>
    <form method='post' action='/articles/<%=@article.id%>'>
      <input id="hidden" type="hidden" name="_method" value="PATCH">
      <input type='text' name='title' id='title' value=<%=@article.title%>>
      <input type='text' name='content' id='content' value=<%=@article.content%>>
      <input type='submit' name='submit' id='submit' value='Submit'>
    </form>
  </body>
  
</html>