<!DOCTYPE html>

<html>
  
  <head>
    
  </head>
  <body>
    <h2>Title: <%=@article.title%></h2>
    <p><%=@article.content%></p>
    <form method='post' action='/articles/<%=@article.id%>'>
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input type='submit' name='submit' id='submit' value="DELETE">
    </form>
  </body>
  
</html>